* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body,
html {
  height: 100vh;
}

#themeToggleButton {
  cursor: pointer;
}
